@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-cereal;
  }

  .app {
    &-title {
      @apply text-3xl font-bold text-primary-400;
    }

    &-input {
      @apply border-2 border-primary-300 border-opacity-80 rounded-lg text-lg py-3 px-2;
    }

    &-button {
      @apply p-4 text-lg border-2 rounded-lg bg-primary-200 hover:bg-blue-600;
    }

    &-section {
      @apply py-12 px-2;
    }
  }

  /* Fonts (Always keep it at the end of the stylesheet) */
  @font-face {
    font-family: "Cereal";
    src: url("../fonts/Cereal-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Cereal";
    src: url("../fonts/Cereal-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Cereal";
    src: url("../fonts/Cereal-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
}
